@model ST10117268_PROG7311_TASK2.Temp.TempPickFarmer

@{
    ViewData["Title"] = "PickFarmer";
}
@{Layout = "_Employee";}

<h1>PickFarmer</h1>

<h4>TempPickFarmer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PickFarmer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FarmerName" class="control-label"></label>
                <select asp-for="FarmerName" class="form-control" asp-items="@ViewBag.PickFarmer" ></select>
                <span asp-validation-for="FarmerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
